<section>
    <h1>Datos académicos</h1>
    <div>
        <form [formGroup]="studyForm" (ngSubmit)="getSuty()">
            <h2 for="title">Tipo de título</h2>
            <select id="title"
                    name="title"
                    [formControl]="title">
                <option value="uni">Título universitario</option>
                <option value="cf">Ciclo formativo</option>
                <option value="otro">Otro título</option>
            </select>
            <div [hidden]="title.valid || title.untouched">
                <div>
                    Hay un problema con este campo
                </div>
                <div [hidden]="title.hasError('required')">
                    Este campo es obligatorio
                </div>
            </div>
            <br/>
            <h2 *ngIf="">Opciones del título universitario </h2>
            <label for="school">Centro educativo:</label>   
            <input type="text"
            name="school"
            id="school"/>
            <br/>
            <label for="title">Titulo:</label>
            <input type="text"
            name="title"
            id="title" />
            <br/>
            <label for="date">Fecha del título</label>
            <input type="date"
            name="date"
            id="date" />
            <br/>
            <label for="radio">Titulación bilingüe?</label>
            <br/>
            <input type="radio" id="si" name="bilingue" value="si">
            <label for="si">Es bilingüe</label>
            <input type="radio" id="no" name="bilingue" value="no">
            <label for="no">No es bilingüe</label><br>

            <label for="certificate">Sube tu certificado:</label>
            <input type="file" name="certificado" id="certficicate" />
            <br/>

            <h2>Opciones del ciclo formativo </h2>
            <label for="school">Centro educativo:</label>   
            <input type="text"
            name="school"
            id="school"/>
            <br/>
            <label for="title">Titulo:</label>
            <input type="text"
            name="title"
            id="title" />
            <br/>
            <label for="date">Fecha del título</label>
            <input type="date"
            name="date"
            id="date" />
            <br/>
            <label for="radio">Formación dual</label>
            <br/>
            <input type="radio" id="si" name="dual" value="si">
            <label for="si">Si</label>
            <input type="radio" id="no" name="dual" value="no">
            <label for="no">No</label><br>

            <label for="radio">Titulación bilingüe</label>
            <br/>
            <input type="radio" id="si" name="bilingue" value="si">
            <label for="si">Si</label>
            <input type="radio" id="no" name="bilingue" value="no">
            <label for="no">No</label><br>

            <label for="certificate">Sube tu certificado:</label>
            <input type="file" name="certificado" id="certficicate" />
            <br/>
            <button type="submit">Guardar</button> 
        </form>
    </div>        
</section>

