  <h1>Perfil de usuario</h1>  
    <div class="img"> 
      <img src='/assets/img/estudiante.png' alt="Foto estudiante">
    </div>
    <div class="datos_estudiante" *ngFor="let user of currentUser">
      <h2>Datos personales</h2>
        <table>
          <tr>
            <td>Nombre:</td>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <td>Apellidos:</td>
            <td>{{user.surname}}</td>
          </tr>
          <tr>
            <td>Fecha de nacimiento:</td>
            <td>{{user.birthdate}}</td>
          </tr>
          <tr>
            <td>Teléfono:</td>
            <td>{{user.phone}}</td>
          </tr>
          <tr>
            <td>Tipo documento:</td>
            <td>{{user.documentType.name}}</td>
                
          </tr>
          <tr>
            <td>Número de documento:</td>
            <td>{{user.documentNumber}}</td>
          </tr>
          <tr>
            <td>Sobre mi:</td>
            <td>
              <textarea name="" id="" cols="30" rows="5">{{user.aboutMe}}</textarea>
            </td>
          </tr>
          <tr>
            <td>Otras competencias:</td>
            <td>
              <textarea name="" id="" cols="30" rows="5">{{user.otherCompetences}}</textarea>
            </td>
          </tr>
          <tr>
            <td>Permiso de conducir:</td>
            <td>{{user.license}}</td>
          </tr>
          <tr>
            <td>Dirección:</td>
            <td>{{user.address.street}}</td>
            <td>{{user.address.province.name}}</td>
          </tr>
        </table>
    <button routerLink="/admin/profile/student/student-detail/{{user.id}}">Actualizar</button>
        </div>