
<h1>Datos personales</h1>
<div >
    <form [formGroup]="userForm" (ngSubmit)="updateUser()">
        <label for="name">Nombre:</label>

        <input type="text" 
            name="name" 
            id="name"
            [formControl]="name">
                <div [hidden]="name.valid || name.untouched">
                <div>
                    Hay un error en tu nombre
                </div>
                <div [hidden]="!name.hasError('required')">
                    El campo nombre es obligatorio.
                </div>
                <div [hidden]="!name.hasError('minlength')">
                    El nombre debe tener mas de 3 carácteres
                </div>
                <div [hidden]="!name.hasError('maxlength')">
                    El nombre no debe tener mas de 55 carácteres
                </div>
                <div [hidden]="!name.hasError('pattern')">
                    El formato del nombre, no es correcto. Hay espacios en blanco
                </div>
            </div>
            <br/>
        <label for="surename">Apellidos:</label>    
        <input type="text"
            name="surename"
            id="surename"
            [formControl]="surename" />
            <div [hidden]="surename.valid || surename.untouched">
                <div>
                    Hay un error con tus apellidos
                </div>
                <div [hidden]="!surename.hasError('required')">
                    El campo apellidos es obligatorio
                </div>
                <div [hidden]="!surename.hasError('minlength')">
                    El apellido debe tener mas de 3 carácteres
                </div>
                <div [hidden]="!surename.hasError('maxlength')">
                    El apellido no debe tener mas de 55 carácteres
                </div>
                <div [hidden]="!surename.hasError('pattern')">
                    El formato del apellido, no es correcto. Hay espacios en blanco
                </div>
            </div>
            <br/>
        <label for="avatar">Sube tu fotografia:</label>
        <input type="file" name="avatar" id="avatar" />
            
            <br/>
        <label for="dates"> Fecha de nacimiento:</label>
        <input type="text"
            name="dates"
            id="dates"
            [formControl] ="dates"/>
            <div [hidden]="dates.valid || dates.untouched">
                <div>
                    Hay un error con tu fecha
                </div>
                <div [hidden]="!dates.hasError('required')">
                    El campo fecha es obligatorio
                </div>
                <div [hidden]="!dates.hasError('date')">
                    El formato de fecha no es correcto
                </div>
            </div>   
            <br/>
            <label for="phone"> Teléfono:</label>
        <input type="tel"
            name="phone"
            id="phone" 
            [formControl]="phone"/>
            <div [hidden]="phone.valid || phone.untouched">
                Hay un problema con tu teléfono
                <div [hidden]="!phone.hasError('required')">
                    El teléfono es obligatorio
                </div>
                <div [hidden]="!phone.hasError('pattern')">
                    El formato del telefono, debe ser numérico.
                </div>
            </div> 
            <br/>
            <label for="phone2"> Teléfono alternativo:</label>
            <input type="tel"
            name="phone2"
            id="phone2" 
            [formControl]="phone2"/>
            <div [hidden]="phone2.valid || phone2.untouched">
                Hay un problema con tu segundo teléfono
                <div [hidden]="!phone2.hasError('required')">
                    El teléfono es obligatorio
                </div>
                <div [hidden]="!phone2.hasError('pattern')">
                    El formato del telefono, debe ser numérico.
                </div>
            </div> 
            <br/>
            <label for="n_document"> Tipo de documento:</label>
            <select id="n_document"
            name="n_document"
            id="n_document"
            [formControl]="n_document">
                <option value=""></option>
                <option value="NIF">NIF</option>
                <option value="NIE">NIE</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="Otro">Otro</option>
            </select>
            <div [hidden]="n_document.valid || n_document.untouched">
                Hay un problema con la selección de tu documento
                <div [hidden]="!n_document.hasError('required')">
                    El tipo de documento es obligatorio
                </div>
            </div> 
            <br/>
            <label for="no_document">Número documento:</label>
            <input type="text"
            name="no_document"
            id="no_document"
            [formControl] = "no_document" />
            <div [hidden]="no_document.valid || no_document.untouched">
                Hay un problema con el número de documento
                <div [hidden]="!no_document.hasError('required')">
                    El número de documento es obligatorio
                </div>
            </div> 
            <br/>
            <label for="street">Dirección:</label>
            <input type="text"
            name="street"
            id="street" 
            [formControl]="street"/>
            <div [hidden]="street.valid || street.untouched">
                Hay un problema con tu dirección
                <div [hidden]="!street.hasError('required')">
                    La dirección es obligatoria
                </div>
            </div>
            <br/>
            
            <label for="province">Provincia:</label>
            <input type="text"
            name="province"
            id="province" 
            [formControl]="province"/>
            <div [hidden]="province.valid || province.untouched">
                Hay un problema con tu provincia
                <div [hidden]="!province.hasError('required')">
                    La provincia es obligatoria
                </div>
            </div>
            <br/>
            <label for="city">Ciudad:</label>
            <input type="text"
            name="city"
            id="city"
            [formControl]="city" />
            <div [hidden]="city.valid || city.untouched">
                Hay un problema con tu ciudad
                <div [hidden]="!city.hasError('required')">
                    La ciudad es obligatoria
                </div>
            </div>
            <br/>
            <label for="about">Sobre mi:</label>
            
              <textarea name="about" id="about" cols="30" rows="5" [formControl]="about"> ></textarea>
              <div [hidden]="about.valid || about.untouched">
                Hay un problema con tu este campo
                <div [hidden]="!about.hasError('required')">
                    Este campo es obligatorio
                </div>
            </div>
            <br/>
            <label>Otras competencias:</label>
              <textarea name="other" id="other" cols="30" rows="5" [formControl]="other"></textarea>
              <div [hidden]="other.valid || other.untouched">
                Hay un problema con tu este campo
                <div [hidden]="!other.hasError('required')">
                    Este campo es obligatorio
                </div>
            </div>
            <br/>
            <label>Permiso de conducir:</label>
                <select id="license"
                        name="license"
                        id="license"
                        [formControl]="license">
                        <option value=""></option>
                        <option value="A1">A1</option>
                        <option value="A2">A2</option>
                        <option value="B1">B1</option>
                        <option value="Otro">Otro</option>
            </select>
            <div [hidden]="license.valid || license.untouched">
                Hay un problema con tu este campo
                <div [hidden]="!license.hasError('required')">
                    Este campo es obligatorio
                </div>
            </div>
                
            <br/>        
            <button type="submit" [disabled]="!userForm.valid">Guardar</button>   
    </form>
</div>
