<section>
    <h1>Datos académicos</h1>
    <table *ngFor="let user of currentUser">
        <thead>
            <tr>
              <th>Estudios</th>
              <th>Categoría</th>
              <th>Grado</th>
              <th>Título</th>
              <th>Centro</th>
              <th>Fecha obtención título</th> 
            </tr>
          </thead> 
          <tbody *ngFor="let study of user.studies" >
            <tr >
              <td>{{study.level.name}}</td>
              <td>{{study.category.name}}</td>
              <td>{{study.grade.name}}</td>
              <td>{{study.title.name}}</td>
              <td>{{study.institution.name}}</td>
              <td>{{study.date}}</td>
              <td>
              <button class="btn_form">Borrar
              </button>
              <button class="btn_form"  routerLink="/admin/profile/study/study-detail/{{study.uid}}">Editar
              </button>
              </td>
            </tr>
          </tbody>
          <button class="btn_languages" routerLink='/admin/profile/study/study-detail/?'>Nueva formación</button>
    </table>
</section>